<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_11_06_2019.Properties.Settings.Conexion_BDD" connectionString="Data Source=LAB5PC14\SQLEXPRESS;Initial Catalog=Padron;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>